.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteudo {
    margin-top: 60px;
    display: flex;   
    justify-content: center;
}


.card {
    border: 4px solid #55AAA7;
    border-radius: 25px;
    height: 270px;
    margin-top: 50px;
    margin-left: 33px;
    margin-right: 33px;
    width: 70%;
}


.cardIcone {
    background-color: #55AAA7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -28px;
    margin-left: -28px;
    position: relative;
}

.cardIcone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

[id=card1] .cardIcone img {
    padding-top: 5px;
    width: 68%;
}


[id=card3] .cardIcone img {
    padding-top: 5px;
    width: 68%;
}

.cardDivTitulo {
    margin-top: -25px;
}

.cardTitulo {
    color: #55AAA7;
    border-bottom: 3px solid #D4676D;
    width: 150px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.cardDivParagrafo {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 204px;
}

.cardParagrafo {
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 1.6;
}


.divButtonCadastre {
    margin-top: 40px;
    text-align: center;
}

.cadastreButton {
    background-color: #D4676D;
    border: 0px;
    border-radius: 10px;
    width: 240px;
    height: 60px;
    transition: 0.3s;
}

.cadastreButton:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cadastre {
    font-size: 19px;
}

.cadastre:link,
.cadastre:visited {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 350px) {
    .cardParagrafo {
        font-size: 18px;
    }

}

@media only screen and (min-width: 530px) and (max-width: 729px) {
    .container {      
        display: block;
        flex-direction: row;
        margin: auto; 
        padding-top: 60px;       
        padding-bottom: 60px;
    }

    .conteudo {
        margin-top: 60px;
        display: flex;        
        justify-content: center;
    }


    .cardParagrafo {
        font-size: 23px;
    }

    .cadastreButton {
        width: 300px;
        height: 60px;
    }

    .cadastre {
        font-size: 22px;
    }
}



@media only screen and (min-width: 730px) {
    .container {      
        display: block;
        flex-direction: row;
        margin: auto; 
        padding-top: 60px;       
        padding-bottom: 60px;
    }

    .conteudo {
        margin-top: 60px;
        display: flex;       
        justify-content: center;
    }
    

    .card {
        width: 65%;       
    }

    .cardDivTitulo {
        margin-top: -25px;
    }

    .cardIcone {
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }
    

    .cardParagrafo {
        font-size: 18px;
    }    

    .cadastreButton {
        width: 300px;
        height: 60px;
    }

    .cadastre {
        font-size: 22px;
    }
}


@media only screen and (min-width: 807px) and (max-width: 1100px) {
    .card {
        width: 65%; 
        height: 300px;       
    }  

    .cardDivTitulo {
        margin-top: -40px;
    }

    .cardIcone {
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
    }

    .cardDivParagrafo { 
        height: 240px;
    }

    .cardParagrafo {
        font-size: 19px;       
    }  
}

@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .card {
        width: 65%;
        height: 300px;
    }

    .cardDivTitulo {
        margin-top: -40px;
    }

    .cardIcone {
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
    }

    .cardDivParagrafo {              
        height: 245px;
    }

    .cardParagrafo {
        font-size: 22px;       
    }  
}

@media only screen and (min-width: 1251px)  and (max-width: 1400px) { 
    .card {
        width: 70%;    
        height: 300px;    
    }    

    .cardDivTitulo {
        margin-top: -40px;
    }

  
    .cardIcone {
        width: 95px;
        height: 95px;
        margin-top: -50px;
        margin-left: -50px;
    }  

    .cardDivParagrafo {
        height: 235px;
    }

    .cardParagrafo {
        font-size: 25px;
    }
}


@media only screen and (min-width: 1401px) { 
    .card {
        width: 70%;    
        height: 300px;    
    }   

    .cardDivTitulo {
        margin-top: -40px;
    }

    
    .cardIcone {
        width: 95px;
        height: 95px;
        margin-top: -50px;
        margin-left: -50px;
    }
   
    .cardDivParagrafo {
        height: 235px;
    }

    .cardParagrafo {
        font-size: 28px;
    }  

}