.section {
	background-color: rgba(241, 181, 184, 0.55);
	padding: 10px 0;
}

.container {
	display: flex;
	justify-content: center;
	height: 60vh;
	gap: 10px;
	margin: 0 70px 40px 70px;
	padding: 20px;
	margin-top: 30px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 15%;
	min-width: 50px;
	gap: 10px;
	padding: 10px;
	background: white;
	border-radius: 10px;
}

.img {
	object-fit: contain;
}

.wrapperMain {
	height: auto;
	width: 100%;
	padding: 10px;
	background: white;
	border-radius: 10px;
}

.imgMain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
