.consultorios .swiper-button-next::after,
.consultorios .swiper-button-prev::after {
	content: "";
}

.consultorios .swiper-button-prev {
	width: 0;
	height: 0;
	border-right: 20px solid #d4676d;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	margin-top: 2px;
}

.consultorios .swiper-button-next {
	width: 0;
	height: 0;
	border-left: 20px solid #d4676d;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	margin-top: 2px;
}

.consultorios .swiper-button-prev:hover,
.consultorios .swiper-button-next:hover {
	filter: drop-shadow(0px 0px 5px #d4676d);
	-webkit-filter: drop-shadow(0px 0px 5px #d4676d);
}
