@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.video-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	/*padding: 20px;*/
	justify-content: center;
	background-color: #55aaa7;
	padding: 50px;
}

.content-container {
	font-family: anton, sans-serif;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 185px;
}

.titulo {
	text-align: center;
	font-family: anton, sans-serif;
	font-weight: 300;
	font-size: 32px;
	margin-top: -10px;
}

.titulo2 {
	text-align: center;
	font-family: anton, sans-serif;
	margin-top: -20px;
	font-weight: 400;
	font-size: 50px;
}

.subtitulo {
	font-family: circular, sans-serif;
	font-size: 14px;
	text-align: justify;
	margin-top: -30px;
}

.video {
	width: 100%;
	max-width: 700px;
	margin-top: 20px;
	border-radius: 20px;
}

@media only screen and (min-width: 768px) {
	.video-container {
		flex-direction: row;
		padding: 50px;
	}

	.content-container {
		margin-left: 50px;
	}

	.titulo {
		font-size: 50px;
		margin-top: 0;
	}

	.titulo2 {
		font-size: 80px;
		margin-top: -50px;
	}

	.subtitulo {
		font-size: 16px;
		margin-top: -80px;
	}

	.video {
		margin-left: 30px;
	}
}
