.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 30px;
}

.divButton {
	margin: auto;
	width: 180px;
}

@media only screen and (min-width: 1000px) {
	.container {
		display: block;
		flex-direction: row;
		margin: auto;
		width: 1400px;
	}

	.form {
		display: block;
		margin: auto;
		width: 650px;
		padding-bottom: 50px;
	}
}
