.floating-whatsapp-button{  
    margin-bottom: 60px;
    margin-right: -15px;
          
}

/*

.styles-module_whatsappButton__tVits svg {  
    background-color: red;
}


.styles-module_floatingWhatsapp__yWF5K {
    
}

.floating-whatsapp svg{
   
}

*/

