@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;500;700&family=Anton&display=swap");

.container {
	font-family: aleo-regular, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	min-height: 90vh;
	text-align: center;
}

.header {
	margin-top: 50px;
	font-size: medium;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header span {
	font-size: xx-large;
	color: #37393f;
}

.header img {
	width: 90px;
	height: 90px;
	margin-bottom: 10%;
}

.line {
	width: 250px;
	height: 2px;
	background-color: #d4676d;
	margin-top: 10px;
}

.chamada {
	font-family: circular, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	/*height: 100vh;*/
}

.chamada h1 {
	font-weight: bold;
	font-size: xxx-large;
}

.chamada h2 {
	font-weight: lighter;
	font-size: large;
	margin-top: -20px;
}

.button {
	margin-top: 30px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #d4676d;
	color: white;
	text-decoration: none;
	font-weight: lighter;
	border-radius: 5px;
}

@media only screen and (max-width: 600px) {
	.container {
		padding: 10px;
	}

	.header img {
		width: 70px; /* Reduzindo o tamanho da imagem para dispositivos móveis */
		height: 70px;
	}

	.line {
		width: 80%; /* Ajustando a largura da linha para dispositivos móveis */
	}
}
